/* Общие стили */
h1,
h2,
h3,
h4 {
    font-weight: 700;
    text-transform: uppercase;
}
ul {
    list-style: none;

}


/* header */

.header {
    margin: 92px auto 96px;
    padding: 0 50px;
    display:grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
}
.header__menu {
    padding-bottom: 1px;
}

/*общий стиль для текста меню*/
.menu_text-format {
    font-size: 18px;
}

.header__links-list {
    display: flex;
    list-style-type:circle;
    gap:31px;
}

.menu__link {
    color: #000000;
    text-transform:lowercase ;
    text-underline-offset: 4px;
 }

/* общий стиль активных ссылок*/
.link-active {
    text-transform:lowercase;
    text-decoration: none;
}

/* общий стиль ссылок*/

.links-list-item_no-bullit {
   list-style: none;
}

/* настройка последнего пункта меню*/
.header__link-padding {
    padding-left:4px;
}

.header__logo-image {
    display: block;
    height: 105px;
    width: 158px;
}

.header__address {
    max-width: 240px;
    justify-self: end;
    line-height: 136%;
    font-size: 18px;
    font-style: normal;
    text-underline-offset: 4px;
}

.address_link {
    text-decoration: none;
}

/* Section Cover */
.cover {
    position:relative;
    min-height: 757px;
    background-image: url('../images/cover.jpg');
    background-size:cover ;
    background-position:-138px 0;
    z-index: -2;
   
}
.overlay {
    position:absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
    inset: 0;
}

.cover__title {
    display: flex;
    flex-direction: column;
    padding:165px 50px 0;
    margin-bottom: 106px;
    color:#FFFFFF;
    font-weight: 700;
    font-size: 100px;
    line-height: 114%;
    letter-spacing: 0.3em;
    gap:21px;
}


.aligned-text_center {
    text-align: center;
    padding-left: 30px;
}

.aligned-text_right {
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__discription {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px 50px 50px;
}

.cover__description-text {
    font-size: 22px;
    color: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 17px;
    letter-spacing: 0.2px;
    line-height: 28px;
}

.bet-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 0;
    min-width: 257px;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color:transparent;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

/* Section Card */

.lots {
    margin:180px 24px 120px;
}

.lots__heading {
    padding-left: 40px;
    line-height: 48px;
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    margin-top: 25px;
    list-style: none;
    color: #FFFFFF;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 0;
    padding: 48px 40px;
    background-size:cover;
    background-position: center;
} 

/* Background карточек (3 шт) */
.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}

.card__title {
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-underline-offset: 3px;
}

.card__text {
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-link {
    display: block;
    margin-top: 30px;
    margin-left: 39px;
    font-size: 20px;
    text-underline-offset: 5px;
}

/* Section Auction */

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    padding: 0 24px;
    margin-bottom: 180px;
}

.about_column-auction {
    display: grid;
    grid-template-rows: 140px 1fr;
    justify-items: start;
    align-items: start;
}

.about__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 47px;
    width: 240px;
    height: 240px;
    background-color:rgba(0, 0, 0, 1);
    border-radius: 50%;
}

.about__logo-image {
    width: 148px;
}

.spacer {
    display: none;
}

.inner {
    grid-row-start: 2;
    padding-left: 25px;
    line-height: 40px;
}

.about__title {
    margin-bottom: 102px;
    font-size: 40px;
}

.about__text-first {
    margin-bottom: 24px;
    padding-right: 5px;/* в макете явно указан этот отступ в первом абзаце*/
}

.about__text {
    font-size: 20px;
    line-height: 24px;
}

/* Section Footer */

.footer {
   display: grid;
   padding: 0 50px;
   grid-template-columns: 1fr auto 1fr;
   padding-top: 2px;
   margin-bottom: 82px;
}

.footer_address {
    max-width:264px ;
    justify-self: start;
    line-height: 134%;
    font-size: 18px;
    font-style: normal;
    text-underline-offset: 4px;
}

.footer__menu {
    text-align: center;
}

.footer__social-icon {
    width: 48px;
}

.footer_menu-list {
    text-align: center;
}
.footer__social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
}





























